<%= form_for @pin, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :approval_status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :approval_status, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :author, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :social_snippet, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :social_snippet, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content_platform, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :content_platform, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :content_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author_notes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :author_notes, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :editor_notes, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :editor_notes, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :keyword_checklist, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :keyword_checklist, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :image, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  pins_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
