<%= simple_form_for(@tweet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :tweet %>
    <%= f.input :approval_status %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :content_platform %>
    <%= f.input :content_type %>
    <%= f.input :image %>
    <%= f.input :url %>
    <%= f.input :author_notes %>
    <%= f.input :editor_notes %>
    <%= f.input :keyword_checklist %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
