<%- model_class = InstagramImage -%>
<div class="page-header">
  <h1><%=t '.title', :default => InstagramImage %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:approval_status) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:social_snippet) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:content_platform) %></th>
      <th><%= model_class.human_attribute_name(:content_type) %></th>
      <th><%= model_class.human_attribute_name(:associated_text) %></th>
      <th><%= model_class.human_attribute_name(:author_notes) %></th>
      <th><%= model_class.human_attribute_name(:editor_notes) %></th>
      <th><%= model_class.human_attribute_name(:keyword_checklist) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @instagram_images.each do |instagram_image| %>
      <tr>
        <td><%= instagram_image.id %></td>
        <td><%= instagram_image.image %></td>
        <td><%= instagram_image.approval_status %></td>
        <td><%= instagram_image.title %></td>
        <td><%= instagram_image.social_snippet %></td>
        <td><%= instagram_image.author %></td>
        <td><%= instagram_image.content_platform %></td>
        <td><%= instagram_image.content_type %></td>
        <td><%= instagram_image.associated_text %></td>
        <td><%= instagram_image.author_notes %></td>
        <td><%= instagram_image.editor_notes %></td>
        <td><%= instagram_image.keyword_checklist %></td>
        <td><%=l instagram_image.created_at, format: :long %></td>
        <td>
          <%= link_to instagram_image_path(instagram_image), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to instagram_image_path(instagram_image), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_instagram_image_path,
            :class => 'btn btn-primary' %>
