<%- model_class = WordpressBlogPost -%>
<div class="page-header">
  <h1><%=t '.title', :default => WordpressBlogPost %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:blog_post) %></th>
      <th><%= model_class.human_attribute_name(:featured_image) %></th>
      <th><%= model_class.human_attribute_name(:approval_status) %></th>
      <th><%= model_class.human_attribute_name(:social_snippet) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:content_platform) %></th>
      <th><%= model_class.human_attribute_name(:content_type) %></th>
      <th><%= model_class.human_attribute_name(:author_notes) %></th>
      <th><%= model_class.human_attribute_name(:editor_notes) %></th>
      <th><%= model_class.human_attribute_name(:keyword_checklist) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wordpress_blog_posts.each do |wordpress_blog_post| %>
      <tr>
        <td><%= wordpress_blog_post.id %></td>
        <td><%= wordpress_blog_post.blog_post %></td>
        <td><%= wordpress_blog_post.featured_image %></td>
        <td><%= wordpress_blog_post.approval_status %></td>
        <td><%= wordpress_blog_post.social_snippet %></td>
        <td><%= wordpress_blog_post.author %></td>
        <td><%= wordpress_blog_post.content_platform %></td>
        <td><%= wordpress_blog_post.content_type %></td>
        <td><%= wordpress_blog_post.author_notes %></td>
        <td><%= wordpress_blog_post.editor_notes %></td>
        <td><%= wordpress_blog_post.keyword_checklist %></td>
        <td><%=l wordpress_blog_post.created_at, format: :long %></td>
        <td>
          <%= link_to wordpress_blog_post_path(wordpress_blog_post), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to wordpress_blog_post_path(wordpress_blog_post), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_wordpress_blog_post_path,
            :class => 'btn btn-primary' %>
